.reviewModal {
  width: 400px;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewModal-title {
  margin-top: 5px;
  font-size: x-large;
  margin-bottom: 10px;
}

.backend-errors {
  display: block;
  color: #ff385c;
  font-size: 14px;
  margin-bottom: 10px;
}

.reviewModal-textbox{
  margin-top: 10px;
  min-width: 300px;
  border: 2px solid black;
}

.reviewModal-stars {
  display: flex;
  align-items: center;
  margin-left: 75px;
}

.stars-text {
  margin-left: 5px;
  font-weight: 600;
}

.submit-button {
  background-color: rgb(60, 113, 203);
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: lightgrey;
}
