.hidden {
  display: none;
}

.profile-dropdown {
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border: 2px solid black;
  list-style-type: none;
  position: absolute;
  overflow: auto;
  right: 15px;
  margin-top: 5px;
  align-items: center;
}

.user-menu {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 3px solid rgb(60, 113, 203);
  border-radius: 20px;
  background-color: white;
  transition: all 0.2s ease;
  margin-right: 10px;
  cursor: pointer;
}

.user-menu:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
  list-style-type: none;
}

nav {
  border-bottom: 2px solid lightgrey;
  height: 70px;
  width: 100%;
}

.logo {
  height: 65px;
  width: 225px;
  cursor: pointer;
  position: relative;
  margin-left: 15px;
}

.profile-management {
  display: flex;
  align-items: center;
}

.new-spot {
  margin-right: 15px;
}

.create-spot-link {
  text-decoration: none;
  color: rgb(60, 113, 203);
}

.menu-outline {
  margin-right: 5px;
}

.menu-outline {
  padding-top: 5px;
}

.hello-elements {
  margin-right: 12px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.logout-button {
  margin-right: 12px;
  margin-top: 10px;
  border-radius: 15px;
  padding: 5px;
  color: white;
  background-color: rgb(60, 113, 203);
  cursor: pointer;
}

.line {
  margin-right: 12px;
}

.manage-spots {
  text-decoration: none;
  margin-right: 12px;
}

.log-in-out {
  cursor: pointer;
  margin-right: 100px;
}
